body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  overflow-x: hidden;
  --accent: var(--blue);
  --trans: var(--bluex);
  --color: var(--dark);
  --color-hard: var(--darker);
  --color-strong: var(--darkest);
  --bg-color: var(--lightest);
  --bg-color-soft: var(--lighter);
  --bg-color-weak: var(--light);
  --nav-color: var(--lightest);
  --nav-bg-color: var(--darkest);
}

.dark {
  --color: var(--light);
  --color-hard: var(--lighter);
  --color-strong: var(--lightest);
  --bg-color: var(--darkest);
  --bg-color-soft: var(--darker);
  --bg-color-weak: var(--dark);
   --nav-color: var(--darkest);
  --nav-bg-color: var(--lightest);
}

:root {
  --lightest: #fff;
  --lighter: #f2f2f2;
  --light: #eee;
  --tint: #f2f2f220;
  --dark: #36393f;
  --darker: #2f3136;
  --darkest: #202225;
  --shade: #2f313620;
  --bluex: #2c6fef20;
  --blue: #2c6fef;
  --red: #e1503c;
  --redx: #e1503c20;
  --yellow: #eea71f;
  --yellowx: #eea71f20;
}

nav {
  z-index: 1;
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  font-size: 48px;
  font-weight: 600;
  color: var(--color-strong);
}

h2 {
  font-size: 36px;
  font-weight: 600;
  color: var(--color-hard);
}

h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--color);
}

p {
  font-size: inherit;
  color: var(--color);
}

strong {
  color: var(--color-strong);
}

a {
  outline: none;
  position: relative;
  color: var(--accent);
  text-decoration: none;
}

p a {
  display: inline;
  position: relative;
  overflow: hidden;
}

a, button, input {
  outline: none;
  border: 0;
  font-family: inherit;
}

.btn {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px 20px;
  color: var(--light);
  background-color: var(--accent);
  font-size: inherit;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  transition: 0.2s ease-out;
}

.btn:hover, .btn:focus {
  filter: brightness(110%);
}

.btn:active {
  filter: brightness(100%);
}

.btn.subtle {
  color: var(--accent);
  background-color: transparent;
}

.btn.subtle:hover, .btn.subtle:focus {
  background-color: var(--trans);
  filter: none;
}

.btn span:first-child {
  margin: 0;
}

.btn span {
  margin: 0 0 0 5px;
}

.btn .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  background: rgba(0,0,0,0.2);
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  transition-property: transform, opacity, -webkit-transform;
  transform: scale(0);
  pointer-events: none;
}

input {
  position: relative;
  padding: 20px 16px 8px;
  width: 200px;
  height: 48px;
  box-sizing: border-box;
  color: var(--color-strong);
  background: var(--bg-color-weak);
  border-radius: 4px;
}

.material-symbols-rounded + input {
  padding: 20px 48px 8px 16px;
}

.wrapper {
  overflow: hidden;
}

.text {
  position: relative;
  display: inline-block;
/*   width: 200px; */
  height: 48px;
  border-radius: 4px;
  overflow: hidden;
}

.text:after {
  content: "";
  position: absolute;
  z-index: 1;
  right: 0;
  width: 0;
  bottom: 0;
  background: var(--accent);
  height: 2px;
  border-radius: 1px;
  transition-property: width;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.text:hover:after {
  left: 0;
  right: auto;
  width: 100%;
}

.text:focus-within:after {
  width: 100%;
}

.text:focus-within label, input:valid + label {
  top: 4px;
  font-size: 12px;
  color: var(--accent) !important;
}

.text .material-symbols-rounded {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 14px;
  right: 16px;
  color: var(--color);
  background-color: transparent;
  border-radius: 0;
  z-index: 1;
  cursor: pointer;
}

label {
  position: absolute;
  top: 14px;
  left: 16px;
  font-size: inherit;
  color: var(--color);
  opacity: 1;
  user-select: none;
  pointer-events: none;
  z-index: 1;
  transition-property: top, color, font-size;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

/* Smart Classes */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.evenly {
  display: flex;
  justify-content: space-evenly;
}

.between {
  display: flex;
  justify-content: space-between;
}

.align-center {
  display: flex;
  align-items: center;
}

.align-start {
  display: flex;
  align-items: center;
}

.align-end {
  display: flex;
  align-items: end;
}

.box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.box-alt {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* Media */

@media only screen and (max-width: 800px) {
  .box {
    flex-direction: column !important;
  }

  .box-alt {
    flex-direction: column-reverse !important;
  }
}